@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #FFF8E1;
    --foreground: #0d0106ff;
    --card: #f6bd60ff;
    --card-foreground: #0d0106ff;
    --popover: #f7ede2ff;
    --popover-foreground: #0d0106ff;
    --primary: #f6bd60ff;
    --primary-foreground: #0d0106ff;
    --secondary: #f5cac3ff;
    --secondary-foreground: #0d0106ff;
    --muted: #f7ede2ff;
    --muted-foreground: #333745ff;
    --accent: #f7ede2ff;
    --accent-foreground: #0d0106ff;
    --destructive: #f5cac3ff;
    --destructive-foreground: #0d0106ff;
    --border: #f6bd60ff;
    --input: #f6bd60ff;
    --ring: #f6bd60ff;
    --chart-1: #f6bd60ff;
    --chart-2: #f7ede2ff;
    --chart-3: #f5cac3ff;
    --chart-4: #0d0106ff;
    --chart-5: #333745ff;
    --radius: 0.5rem;
    --sidebar-background: #f6bd60ff;
    --sidebar-foreground: #0d0106ff;
    --sidebar-primary: #f6bd60ff;
    --sidebar-primary-foreground: #0d0106ff;
    --sidebar-accent: #f5cac3ff;
    --sidebar-accent-foreground: #0d0106ff;
    --sidebar-border: #f5cac3ff;
    --sidebar-ring: #f6bd60ff;
  }
  .dark {
    --background: #333745ff;
    --foreground: #f7ede2ff;
    --card: #0d0106ff;
    --card-foreground: #f7ede2ff;
    --popover: #333745ff;
    --popover-foreground: #f7ede2ff;
    --primary: #f6bd60ff;
    --primary-foreground: #0d0106ff;
    --secondary: #f5cac3ff;
    --secondary-foreground: #f7ede2ff;
    --muted: #333745ff;
    --muted-foreground: #f5cac3ff;
    --accent: #f5cac3ff;
    --accent-foreground: #0d0106ff;
    --destructive: #f5cac3ff;
    --destructive-foreground: #0d0106ff;
    --border: #f6bd60ff;
    --input: #f6bd60ff;
    --ring: #f6bd60ff;
    --chart-1: #f6bd60ff;
    --chart-2: #f7ede2ff;
    --chart-3: #f5cac3ff;
    --chart-4: #0d0106ff;
    --chart-5: #333745ff;
    --sidebar-background: #0d0106ff;
    --sidebar-foreground: #f7ede2ff;
    --sidebar-primary: #f6bd60ff;
    --sidebar-primary-foreground: #0d0106ff;
    --sidebar-accent: #f5cac3ff;
    --sidebar-accent-foreground: #0d0106ff;
    --sidebar-border: #333745ff;
    --sidebar-ring: #f6bd60ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
