@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #FFEEA9;
    --foreground: #7B4019;
    --card: #FFEEA9;
    --card-foreground: #7B4019;
    --popover: #FFEEA9;
    --popover-foreground: #7B4019;
    --primary: #7B4019;
    --primary-foreground: #FFEEA9;
    --secondary: #FFBF78;
    --secondary-foreground: #7B4019;
    --muted: #FFEEA9;
    --muted-foreground: #7B4019;
    --accent: #FF7D29;
    --accent-foreground: #FFEEA9;
    --destructive: #FF7D29;
    --destructive-foreground: #FFEEA9;
    --border: #FFBF78;
    --input: #FFBF78;
    --ring: #FF7D29;
    --chart-1: #7B4019;
    --chart-2: #FF7D29;
    --chart-3: #FFBF78;
    --chart-4: #FFEEA9;
    --chart-5: #FF7D29;
    --radius: 0.5rem;
    --sidebar-background: #FFEEA9;
    --sidebar-foreground: #7B4019;
    --sidebar-primary: #7B4019;
    --sidebar-primary-foreground: #FFEEA9;
    --sidebar-accent: #FF7D29;
    --sidebar-accent-foreground: #FFEEA9;
    --sidebar-border: #FFBF78;
    --sidebar-ring: #FF7D29;
  }
  .dark {
    --background: #7B4019;
    --foreground: #FFEEA9;
    --card: #7B4019;
    --card-foreground: #FFEEA9;
    --popover: #7B4019;
    --popover-foreground: #FFEEA9;
    --primary: #FFEEA9;
    --primary-foreground: #7B4019;
    --secondary: #FF7D29;
    --secondary-foreground: #FFEEA9;
    --muted: #7B4019;
    --muted-foreground: #FFEEA9;
    --accent: #FFBF78;
    --accent-foreground: #7B4019;
    --destructive: #FF7D29;
    --destructive-foreground: #7B4019;
    --border: #FFBF78;
    --input: #FFBF78;
    --ring: #FF7D29;
    --chart-1: #FFEEA9;
    --chart-2: #FFBF78;
    --chart-3: #FF7D29;
    --chart-4: #7B4019;
    --chart-5: #FF7D29;
    --sidebar-background: #7B4019;
    --sidebar-foreground: #FFEEA9;
    --sidebar-primary: #FFEEA9;
    --sidebar-primary-foreground: #7B4019;
    --sidebar-accent: #FFBF78;
    --sidebar-accent-foreground: #7B4019;
    --sidebar-border: #FF7D29;
    --sidebar-ring: #FF7D29;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
